$default-font: 'PT Sans', sans-serif;

$font-size-extra-small: 8px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 22px;
$font-size-extra-large: 24px;
$font-size-h1: 32px;

$line-height-extra-small: 10px;
$line-height-small: 18px;
$line-height-base: 21px;
$line-height-medium: 23px;
$line-height-large: 28px;
$line-height-extra-large: 31px;
$line-height-h1: 41px;

$white: #FFFFFF;
$grey-extra-light: #F8F8F8;
$grey-light: #959DAD;
$grey: #59606D;
$dark: #1F1F1F;
$black: #000000;
$yellow: #F2C94C;